body{
    margin: 0;
    padding: 0;
    background-color: darkgreen;
    font-family: math, numberonly, Arial, monospace, "Microsoft Yahei", simhei;
    overflow: hidden;
}
body>p{
    position: fixed;
    margin: 0;
    padding: 0;
}
#second{
    z-index: 1;
    background-color: #FFFFFF11;
    top: 0;
    left: 0;
    height: 100%;
}
#timer{
    color: white;
    z-index: 2;
}